/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    body{
        padding: 20px !important;
        position: relative;
    }
    .title{
        font-size: 36px;
    }
    .product-name{
        font-size: 12px;
        height: 90px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .brand, .price{
        font-size: 16px;
    }
    .brand{
        margin-top: 0;
    }
    .product-poster{
        height: 150px;
    }
    .categories{
        position: static;
        /*top: 65px;*/
        /*left: 25px;*/
        padding: 10px;
        margin: 10px auto;
    }
    .categories-item{
        font-size: 10px;
        text-align: center;
        line-height: 100%;
    }
}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    body{
        padding: 20px !important;
        position: relative;
    }
    .title{
        font-size: 42px;
    }
    .product-name{
        font-size: 12px;
        height: 90px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .brand, .price{
        font-size: 16px;
    }
    .brand{
        margin-top: 0;
    }
    .product-poster{
        height: 150px;
    }
    .categories{
        position: static;
        /*top: 65px;*/
        /*left: 25px;*/
        padding: 10px;
        margin: 10px auto;
    }
    .categories-item{
        font-size: 12px;
        text-align: center;

    }
}
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .title{
        font-size: 48px;
    }
    .product-name{
        font-size: 12px;
        height: 90px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .brand, .price{
        font-size: 16px;
    }
    .brand{
        margin-top: 0;
    }
    .product-poster{
        height: 150px;
    }
    .categories{
        position: static;
        /*top: 65px;*/
        /*left: 25px;*/
        padding: 10px;
        margin: 10px auto;
    }
    .categories-item{
        font-size: 10px;
        text-align: center;
        line-height: 100%;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .product-name{
        font-size: 12px;
        height: 90px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .brand, .price{
        font-size: 16px;
    }
    .brand{
        margin-top: 0;
    }
    .product-poster{
        height: 150px;
    }
    .categories{
        position: fixed;
        top: 180px;

        right: 25px;
        padding: 10px;

    }
    .categories-item{
        margin: 0;
        font-size: 10px;
        text-align: left;
        line-height: 100%;
        padding: 5px;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .product-name{
        font-size: 16px;
        height: 90px;
        overflow: hidden;
        margin-bottom: 0;
    }
    .brand, .price{
        font-size: 16px;
    }
    .brand{
        margin-top: 0;
    }
    .product-poster{
        height: 150px;
    }
    .categories{
        position: fixed;
        top: 180px;

        right: 5px;
        padding: px;

    }
    .categories-item{
        margin: 0;
        font-size: 12px;
        text-align: left;
        line-height: 100%;
        padding: 15px 5px;
    }
}